@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background: rgba(255, 0, 0, 0.075) !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Make body click-through */
}

#root {
  background: transparent !important;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  pointer-events: auto; /* Re-enable pointer events for components */
}

.bric {
  font-family: "Bricolage Grotesque", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
